#shw-section {
    padding: 20px;
}

.shw-catalog {
    margin-bottom: 40px;
}

.shw-catalog-title {
    display: flex;
    justify-content: center;
    color: var(--shw-color-font-gray);
    padding: 20px 0 15px;
}

.shw-search-container {
    padding: 10px;
}

.shw-car-container {
    padding: 10px;
}

.shw-comments-container {
    background-color: var(--shw-color-bg-tertiary);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 576px) {
    .shw-catalog {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    }
}